nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #f00;
  }
  
  nav .logo2 {
    height: 40px;
  }
  
  nav .btn {
    background-color: #000f38;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  nav .btn:hover {
    background-color:#000f38;
  }