
.Program{
    margin: 80px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.Program:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.Program img{
    margin-top: 6px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.Program h3{
    margin: 10px 0;
    color: #cc0066 ;
}
.Program span{
    margin-top:8px ;
    text-decoration: underline;
    border: none;
    color: #cc0066;
    font-size: 16px;
}

.photoCards {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  }
  
  .card {
    width: 300px; 
    border-radius: 8px;
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
  }
  
  .card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }
  .card h3 {
    color: #cc0066;

  }
  .card h3,
  .card p {
    padding: 5px; 
    margin: 0;
  }
  
  .card p {
    flex: 1; 
  }
  
  .card span {
    margin-top: 10px;
    color: #cc0066;
    display: block;
  }
  